<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/javascripts/signin.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1><span class=""></span> Items</h1>
            <form   name="itemForm" method="post" action="/exercise" >
                <table class="table">
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Select</th>
                    </tr>
                    <% for (var i = 0; i < item.length; i++) {%>
                    <tr>
                        <td><%= item[i].name %></td>
                        <td>$<%= item[i].price %></td>
                        <td><input type="checkbox" name="haha" value=<%= item[i].id%>></td>
                    </tr>
                    <% } %>
                </table>
                <button class="btn btn-success" >Add to cart</button>

            </form>
        </div>
        <div class="col-sm-6">
            <h1> Cart</h1>
            <% if (cart != undefined) {%>
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
                <% for(var i=0; i<cart.length; i++) {%>
                <tr>
                    <td><%= cart[i].name %></td>
                    <td> $<%=cart[i].price%></td>
                </tr>
                <% } %>
            </table>
            <% } %>
            Total: $<%= totalPrice%>
            <div>
                <a href="/exercise/clear">Clear cart!</a>
            </div>
        </div>
    </div>

</div>



</body>
</html>
