<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<%- include('footer'); %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <h2>Bid history</h2>
      <%if (bids.length > 0) {%>
        <div class="panel panel-info">
          <div class="panel-heading">
            <a href="/auction/<%= bids[0].itemId %>"><%= bids[0].description %></a>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>Bidder</th>
                <th>Bid Amount</th>
                <th>Bid Time</th>
              </tr>
              </thead>
              <tbody>
              <% for (var i = 0; i < bids.length; i++) {%>
              <tr>
                <td><%= bids[i].buyerName %></td>
                <td>$<%= bids[i].bidAmount %></td>
                <td><%= bids[i].bidDate %></td>
              </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
      <%}%>
      <span class="alert"><%= msg %></span>
    </div>

  </div>

</div>



</body>
</html>
